
.experiences-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding-top: 1%;

}

.logo
{
    margin-top: 30px;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.point
{
    margin-left: 20px;
    list-style-type: square;
}

