@import url("https://fonts.googleapis.com/css?family=Roboto");

.backToTop
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    padding-bottom: 5%;
}

.toTopButton
{
    color: white;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

button
{
    border-radius: 3%;
    font-family: "Roboto";
}