@media screen and (min-width: 1001px) {
  .container {
    display: flex;

    flex-direction: row;

    justify-content: space-evenly;

    padding-top: 1%;
    padding-bottom: 1%;

    width: 100%;
  }
  .desc-col {
    max-width: 45%;

    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;

    flex-direction: column-reverse;

    padding-top: 1%;
    padding-bottom: 1%;

    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .desc-col {
    max-width: 80%;

    margin-top: 20px;
  }

  .link {
      margin-left: auto;
      margin-right: auto;
  }
}

.desc-col {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
}
.video-col {
  margin-top: 2vh;
  position: relative;
  width: 500px;
  height: 300px;
  max-width: 85vw;
  max-height: 51vw;
}

.taprushlogo {
  margin-top: 20px;

  margin-bottom: 10px;
}

.projects {
  margin-top: 15%;
  background-color: beige;
  width: 100%;
  padding-bottom: 10%;
}

.image-col {
  max-height: 50%;
  width: auto;
  display: flex;
  justify-content: center;
}

.projects-header {
  padding-top: 2%;
}

.project-title {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.project-platform {
  color: orange;
  margin-top: -5px;
  margin-left: 3px;
}

.gplaylogo {
  width: 50%;
}

.unity {
  margin: 10px;
  width: 35%;
}

.button {
  background-color: black;
  color: aliceblue;
  width: 200px;
  height: 40px;

  white-space: nowrap;
}

.minesweeper {
  max-width: 70%;
  max-height: auto;
}

.pacman {
  max-width: 85vw;
  max-height: 85vw;
}

.behaviour-tree
{
    max-width: 85vw;
    max-height: 85vw;
}