@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Orbitron");




.navbar-brand
{
	text-align: center;
}

  
.center-navbar {
    width:25%;
    margin-left: 24%;

}

  p1
  {
      font-family: "Orbitron";
      font-style: bold;
      font-size:  20px;
      letter-spacing: 1px;
  
      text-shadow: 0 0 5px blue;
  
       color: white;
  }
  
  p2
  {
      font-family: "Orbitron";
      font-size:  14px;
  
      letter-spacing: 1.1px;
      color: white;
      text-shadow: 0 0 10px blue;
  }
  
  .nav-item
  {
      font-family: "Orbitron";
        font-style: bold;
        font-size:  14px;
        letter-spacing: 1px;
        color : gainsboro;
        padding : 5px;
        margin-left: 1px;
    text-align: center;


  }



.nav-item:hover
{
        color : gainsboro;
      cursor: pointer;
      text-shadow: 0 0 25px white;
      text-decoration: none;
}
  
.active {
    
    text-shadow: 0 0 5px orange;
    text-decoration: underline;
    text-decoration-color: orange;   
}





