@media screen and (min-width: 1201px) {
    .social-links
    {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        margin-top: 1%;
        margin-left: 3%;
    }
    
  }


    @media screen and (max-width: 1200px) {
        .social-links
        {
            display: none;
            
        }
    }

.social-links i{

    padding: 5px;
    color: rgb(20, 26, 104);
    font-size: 500%;
}

.social-links i:hover
{
    padding: 5px;
    color: rgb(73, 82, 214);
    font-size: 500%;
}



e
{
    font-size: 25px;
    position: fixed;
    margin-top: 9.5%;
    margin-left:  85%;
    transform: rotate(90deg);
    font-family: "Montserrat";
    color: white;
    background-color: rgb(20, 26, 104);
    padding: 8px;
}